.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar {
  height: 120px;
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.about-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-navlink {
  display: contents;
}
.about-image {
  width: 220px;
  height: 100px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.about-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.about-text02 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.about-button {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  background-color: var(--dl-color-scheme-shopifybg);
}
.about-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.about-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #018262;
}
.about-text03 {
  color: var(--dl-color-scheme-white);
}
.about-section {
  width: 100%;
  height: 227px;
  padding-top: 54px;
  border-color: var(--dl-color-scheme-orange200);
  border-style: dashed;
  border-width: 1px;
  padding-bottom: 58px;
  background-color: var(--dl-color-scheme-white);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.about-max-width1 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text04 {
  color: var(--dl-color-scheme-green80);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-text05 {
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-section1 {
  height: 236px;
  padding-top: 54px;
  padding-bottom: 58px;
  background-color: var(--dl-color-scheme-white);
}
.about-max-width2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text06 {
  color: var(--dl-color-scheme-green80);
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-text07 {
  width: 1102px;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-container2 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.about-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.about-text08 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-text09 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-text10 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.about-link {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.about-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.about-text17 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .about-max-width1 {
    flex-direction: column;
  }
  .about-max-width2 {
    flex-direction: column;
  }
  .about-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .about-links {
    display: none;
  }
  .about-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .about-banner {
    padding: var(--dl-space-space-twounits);
  }
  .about-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .about-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-footer {
    padding: var(--dl-space-space-unit);
  }
}
