.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-navbar {
  height: 120px;
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.contact-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-navlink {
  display: contents;
}
.contact-image {
  width: 220px;
  height: 100px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.contact-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-text02 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.contact-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.contact-max-width1 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-text03 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text04 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact-container1 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.contact-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.contact-text05 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text06 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text07 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.contact-button1 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.contact-link {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.contact-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.contact-text14 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .contact-max-width1 {
    flex-direction: column;
  }
  .contact-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .contact-links {
    display: none;
  }
  .contact-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .contact-banner {
    padding: var(--dl-space-space-twounits);
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .contact-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
  }
}
