.design-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.design-navbar {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.design-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.design-section {
  background-color: rgba(255, 199, 139, 0.14);
}
.design-max-width {
  align-items: stretch;
}
.design-content {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.design-text01 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.design-text02 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.design-text03 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.design-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.design-hero-image {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.design-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.design-max-width1 {
  align-items: stretch;
}
.design-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.design-text04 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.design-text05 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.design-text06 {
  color: var(--dl-color-scheme-orange100);
}
.design-text07 {
  color: var(--dl-color-scheme-orange100);
}
.design-text08 {
  color: var(--dl-color-scheme-orange100);
}
.design-text09 {
  color: var(--dl-color-scheme-orange100);
}
.design-text10 {
  color: var(--dl-color-scheme-orange100);
}
.design-text13 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.design-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.design-navlink {
  text-decoration: none;
}
.design-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.design-section2 {
  height: 342px;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #DEE3E7;
}
.design-text14 {
  top: 61px;
  left: 0px;
  color: black;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.design-image2 {
  top: 146px;
  left: 0px;
  right: 0px;
  width: 546px;
  height: 157px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  text-decoration: none;
}
.design-text15 {
  top: 61px;
  left: 0px;
  color: black;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.design-container4 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.design-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.design-text16 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.design-text17 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.design-text23 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.design-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.design-button1 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.design-button2 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.design-max-width2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.design-text27 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.design-text28 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.design-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.design-text29 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .design-max-width {
    flex-direction: column;
  }
  .design-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .design-image {
    padding-bottom: 0px;
  }
  .design-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .design-max-width1 {
    flex-direction: column;
  }
  .design-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .design-image1 {
    padding-bottom: 0px;
  }
  .design-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .design-max-width2 {
    flex-direction: column;
  }
  .design-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .design-content {
    width: 100%;
    margin-right: 0px;
  }
  .design-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .design-banner {
    padding: var(--dl-space-space-twounits);
  }
  .design-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .design-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .design-footer {
    padding: var(--dl-space-space-unit);
  }
}
