.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: Radius-Round;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/rectangle%2035-1500w.png");
}
.card-info {
  width: 362px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}


.card-root-class-name4 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name5 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name7 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name8 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name10 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name11 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name13 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name14 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name9 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name11 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name12 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name13 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name14 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link {
  text-decoration: none;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-section {
  padding-top: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-scheme-white);
}
.home-text01 {
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-button {
  color: var(--dl-color-scheme-white);
  align-self: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-sixunits);
  background-color: Black;
}
.home-navlink2 {
  font-weight: 700;
  text-decoration: none;
}
.home-max-width1 {
  align-items: stretch;
}
.home-hero-image {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.home-content {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text04 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text07 {
  color: var(--dl-color-scheme-orange100);
}
.home-text08 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-navlink3 {
  text-decoration: none;
}
.home-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width2 {
  align-items: stretch;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text09 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text11 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home-text13 {
  font-family: Urbanist;
}
.home-text14 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.home-section2 {
  height: 342px;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #DEE3E7;
}
.home-text15 {
  top: 61px;
  left: 0px;
  color: black;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.home-image3 {
  top: 146px;
  left: 0px;
  right: 0px;
  width: 546px;
  height: 157px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-max-width3 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text16 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text17 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-section4 {
  padding-top: 0px;
}
.home-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text20 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text22 {
  font-family: Urbanist;
}
.home-text24 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text25 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon02 {
  width: 12px;
  height: 12px;
}
.home-text26 {
  margin-top: 8px;
}
.home-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text27 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon04 {
  width: 12px;
  height: 12px;
}
.home-text28 {
  margin-top: 8px;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text29 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon06 {
  width: 12px;
  height: 12px;
}
.home-text30 {
  margin-top: 8px;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text31 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon08 {
  width: 12px;
  height: 12px;
}
.home-text32 {
  margin-top: 8px;
}
.home-image4 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.home-text33 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text34 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text40 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-button2 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-button3 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container03 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text44 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text45 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text46 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text47 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text48 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text50 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text54 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text56 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text63 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text69 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text72 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text73 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text74 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text75 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text77 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text79 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text80 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text81 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text82 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
  .home-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image2 {
    padding-bottom: 0px;
  }
  .home-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-questions {
    width: 60%;
  }
  .home-image4 {
    margin-right: -100px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-container03 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-links {
    display: none;
  }
  .home-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-image4 {
    width: 100%;
    margin-right: 0px;
  }
  .home-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container03 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container03 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
