.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link {
  text-decoration: none;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-container1 {
  width: 100%;
  height: 315px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #E0E2E9;
}
.home-text02 {
  color: var(--dl-color-scheme-green100);
  font-size: 2.5em;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Titillium Web;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1.5px;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-button {
  color: var(--dl-color-scheme-white);
  align-self: center;
  box-shadow: 1px 1px 2px 0px #d4d4d4;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: 5px;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #018262;
}
.home-navlink1 {
  color: var(--dl-color-scheme-white);
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}
.home-section {
  padding-top: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-scheme-yellow20);
}
.home-max-width1 {
  align-items: stretch;
}
.home-hero-image {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.home-content {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text07 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 5px;
}
.home-text10 {
  color: var(--dl-color-scheme-orange100);
}
.home-link1 {
  display: contents;
}
.home-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.home-text11 {
  font-size: 16px;
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-navlink2 {
  text-decoration: none;
}
.home-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width2 {
  align-items: stretch;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text13 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text14 {
  color: var(--dl-color-scheme-orange100);
}
.home-text15 {
  color: var(--dl-color-scheme-orange100);
}
.home-text18 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.home-section2 {
  height: 342px;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #DEE3E7;
}
.home-text19 {
  top: 61px;
  left: 0px;
  color: black;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.home-image4 {
  top: 146px;
  left: 0px;
  right: 0px;
  width: 546px;
  height: 157px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container5 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.home-text20 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text21 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text27 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-button2 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-button3 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-max-width3 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text31 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text32 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.home-text33 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 1600px) {
  .home-navbar {
    box-shadow: 1px 1px 2px 0px #e1e3e8;
  }
  .home-text {
    color: Black;
  }
  .home-navlink {
    color: Black;
  }
  .home-text01 {
    color: Black;
  }
  .home-container1 {
    height: 400px;
  }
  .home-text02 {
    margin-left: 300px;
    margin-right: 300px;
  }
  .home-image2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-text13 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text14 {
    color: var(--dl-color-scheme-orange200);
    font-family: Urbanist;
  }
  .home-text15 {
    color: var(--dl-color-scheme-orange100);
    font-family: Urbanist;
  }
  .home-text17 {
    font-family: Urbanist;
  }
}
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
  .home-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image3 {
    padding-bottom: 0px;
  }
  .home-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-links {
    display: none;
  }
  .home-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
}
