.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  height: 120px;
}
.home-logo {
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: 220px;
  height: 100px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text:active {
  border-bottom: 1px solid black;
}
.home-navlink1 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink2 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-shopifybg);
}
.home-link:hover {
  background-color: #E0E2E9;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-container1 {
  width: 100%;
  height: 448px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #E0E2E9;
}
.home-text01 {
  color: var(--dl-color-scheme-green100);
  width: 1134px;
  font-size: 2.5em;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: Titillium Web;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0px;
  letter-spacing: 1.5px;
}
.home-text02 {
  font-size: 2em;
  font-family: Open Sans;
}
.home-text03 {
  font-size: 0.8em;
  font-family: Open Sans;
}
.home-text04 {
  font-size: 0.8em;
}
.home-container2 {
  flex: 0 0 auto;
  width: 1073px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-container3 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link1 {
  display: contents;
}
.home-image1 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
  text-decoration: none;
}
.home-container4 {
  flex: 0 0 auto;
  width: 317px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.home-button {
  color: var(--dl-color-scheme-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-weight: 700;
  border-width: 0px;
  border-radius: 5px;
  background-color: var(--dl-color-scheme-shopifybg);
}
.home-section {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: 36px;
  background-color: var(--dl-color-scheme-white);
}
.home-max-width1 {
  align-items: stretch;
}
.home-content {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text06 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-navlink3 {
  color: var(--dl-color-scheme-white);
  font-family: Titillium Web;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--dl-color-scheme-shopifybg);
}
.home-hero-image {
  width: 400px;
  object-fit: contain;
  margin-right: -100px;
  border-radius: var(--dl-radius-radius-round);
}
.home-section1 {
  padding-top: 21px;
  border-color: var(--dl-color-scheme-green100);
  border-style: dashed;
  border-width: 1px;
  padding-bottom: 21px;
  background-color: var(--dl-color-scheme-white);
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-max-width2 {
  align-items: stretch;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text08 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text10 {
  color: var(--dl-color-scheme-orange100);
}
.home-text11 {
  color: var(--dl-color-scheme-shopifybg);
}
.home-text12 {
  color: var(--dl-color-scheme-orange100);
}
.home-text13 {
  color: var(--dl-color-scheme-shopifybg);
}
.home-text14 {
  color: var(--dl-color-scheme-orange100);
}
.home-text15 {
  color: var(--dl-color-scheme-shopifybg);
}
.home-text16 {
  color: var(--dl-color-scheme-orange100);
}
.home-text18 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-navlink4 {
  text-decoration: none;
}
.home-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.home-section2 {
  height: 441px;
  position: relative;
  padding-top: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #DEE3E7;
}
.home-image4 {
  top: 146px;
  left: 0px;
  right: 0px;
  width: 546px;
  height: 242px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  padding-top: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-text19 {
  color: black;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.home-container7 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1500w.png");
}
.home-text20 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text21 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text27 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-button1 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-button2 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-max-width3 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text28 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text29 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.home-text30 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 1200px) {
  .home-container2 {
    width: 1200px;
    height: 59px;
  }
  .home-container3 {
    width: 586px;
  }
  .home-container4 {
    width: 500px;
  }
  .home-hero-image {
    width: 510px;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-image1 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
  .home-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image2 {
    padding-bottom: 0px;
  }
  .home-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image3 {
    padding-bottom: 0px;
  }
  .home-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-links {
    display: none;
  }
  .home-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
}
