.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.home-navbar {
  height: 87.8px;
  box-shadow: 1px 1px 1px 0px #f2f2f2;
}
.home-logo {
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: 112px;
  height: 48px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text:active {
  border-bottom: 1px solid black;
}
.home-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text01 {
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.home-navlink2 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink3 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-shopifybg);
}
.home-link:hover {
  background-color: #E0E2E9;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-container1 {
  width: 100%;
  height: 386px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 44px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-scheme-grey);
}
.home-text03 {
  color: var(--dl-color-scheme-green100);
  width: 1077px;
  height: 79px;
  font-size: 24px;
  margin-top: 0px;
  text-align: left;
  font-family: Urbanist;
  font-weight: 900;
  line-height: 1.5;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 19px;
  letter-spacing: 1px;
}
.home-text04 {
  font-style: normal;
}
.home-text05 {
  font-style: normal;
  text-decoration: underline;
}
.home-text06 {
  font-style: normal;
}
.home-container2 {
  width: 1073px;
  height: 137px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 4px;
  justify-content: center;
}
.home-container3 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link1 {
  display: contents;
}
.home-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-container4 {
  flex: 0 0 auto;
  width: 317px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.home-navlink4 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
  padding-top: 18px;
  border-width: 0px;
  border-radius: 10px;
  padding-bottom: 18px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-shopifybg);
}
.home-section {
  height: 350px;
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: 36px;
  background-color: var(--dl-color-scheme-white);
}
.home-max-width1 {
  align-items: stretch;
}
.home-content {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text09 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-hero-image {
  width: 500px;
  object-fit: contain;
  margin-right: -100px;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-container5 {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-shopifybg);
  border-style: solid;
  border-width: 2px;
  border-top-width: 1px;
  border-bottom-width: 0px;
}
.home-section1 {
  height: 374px;
  padding-top: 11px;
  padding-bottom: 93px;
  background-color: var(--dl-color-scheme-white);
}
.home-max-width2 {
  align-items: stretch;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text11 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  font-size: 24px;
  font-family: Urbanist;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text13 {
  color: var(--dl-color-scheme-orange100);
}
.home-text14 {
  color: var(--dl-color-scheme-shopifybg);
}
.home-text15 {
  color: var(--dl-color-scheme-orange100);
}
.home-text16 {
  color: var(--dl-color-scheme-shopifybg);
}
.home-text17 {
  color: var(--dl-color-scheme-shopifybg);
}
.home-hero-image1 {
  width: 800px;
  height: 400px;
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.home-section2 {
  height: 377px;
  position: relative;
  padding-top: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #DEE3E7;
}
.home-image4 {
  top: 146px;
  left: 0px;
  right: 0px;
  width: 350px;
  height: 226px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-text19 {
  color: black;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.home-container6 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.home-text20 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text21 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text27 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-navlink5 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.home-max-width3 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text28 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.home-text29 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 1200px) {
  .home-text03 {
    color: var(--dl-color-scheme-green100);
    font-size: 24px;
    font-family: Urbanist;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .home-text04 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text05 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
  }
  .home-text06 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text07 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text08 {
    font-style: normal;
  }
  .home-container2 {
    width: 1200px;
    height: 59px;
  }
  .home-container3 {
    width: 586px;
  }
  .home-container4 {
    width: 500px;
  }
  .home-hero-image {
    width: 510px;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-image1 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 991px) {
  .home-text03 {
    color: var(--dl-color-scheme-green100);
    width: 100%;
    font-size: 24px;
    font-family: Urbanist;
    font-weight: 900;
    line-height: 1.5;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    letter-spacing: 1px;
  }
  .home-text04 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text05 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
  }
  .home-text06 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text07 {
    color: var(--dl-color-scheme-black);
    font-weight: 400;
  }
  .home-text08 {
    font-style: normal;
  }
  .home-container2 {
    width: 100%;
  }
  .home-container3 {
    width: 50%;
  }
  .home-container4 {
    width: 50%;
  }
  .home-section {
    height: 464px;
  }
  .home-max-width1 {
    height: 444px;
    flex-direction: column;
  }
  .home-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-image2 {
    padding-bottom: 0px;
  }
  .home-hero-image {
    width: 910px;
    height: 174px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-image3 {
    padding-bottom: 0px;
  }
  .home-hero-image1 {
    width: 923px;
    height: 216px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-banner {
    width: 80%;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-links {
    display: none;
  }
  .home-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .home-text03 {
    color: var(--dl-color-scheme-green100);
  }
  .home-text04 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text05 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
  }
  .home-text06 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text07 {
    color: var(--dl-color-scheme-black);
    font-weight: 400;
  }
  .home-text08 {
    font-style: normal;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-text03 {
    color: var(--dl-color-scheme-green100);
    width: 100%;
    height: 195px;
    font-size: 24px;
    font-family: Urbanist;
    font-weight: 900;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    letter-spacing: 1px;
  }
  .home-text04 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text05 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
  }
  .home-text06 {
    color: var(--dl-color-scheme-black);
    font-style: normal;
    font-weight: 400;
  }
  .home-text07 {
    color: var(--dl-color-scheme-black);
    font-weight: 400;
  }
  .home-text08 {
    font-style: normal;
  }
  .home-container2 {
    width: 100%;
  }
  .home-container3 {
    width: 50%;
  }
  .home-container4 {
    width: 50%;
    padding-left: 0px;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
}
