.news-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.news-navbar {
  height: 120px;
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.news-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.news-navlink {
  display: contents;
}
.news-image {
  width: 220px;
  height: 100px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.news-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.news-text02 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.news-button {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  background-color: var(--dl-color-scheme-shopifybg);
}
.news-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.news-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #018262;
}
.news-text03 {
  color: var(--dl-color-scheme-white);
}
.news-section {
  height: 1229px;
  align-items: flex-start;
  padding-top: 54px;
  margin-bottom: 12px;
  flex-direction: row;
  padding-bottom: 58px;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.news-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.news-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.news-html-node {
  align-self: flex-start;
}
.news-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.news-container5 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.news-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.news-text04 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.news-text05 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.news-text06 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.news-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.news-link {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.news-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.news-text13 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .news-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .news-links {
    display: none;
  }
  .news-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .news-banner {
    padding: var(--dl-space-space-twounits);
  }
  .news-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .news-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .news-footer {
    padding: var(--dl-space-space-unit);
  }
}
