.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/rectangle%2035-1500w.png");
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}


.card-root-class-name4 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name5 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name7 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name8 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.support-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.support-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.support-navlink {
  display: contents;
}
.support-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.support-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.support-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.support-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.support-text02 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.support-link {
  text-decoration: none;
}
.support-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.support-hero {
  height: 99px;
  align-items: center;
  padding-bottom: 0px;
  justify-content: center;
}
.support-text03 {
  color: #ffffff;
}
.support-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.support-text04 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text06 {
  font-weight: 600;
}
.support-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.support-button:hover {
  color: var(--dl-color-scheme-white);
  background-color: #000000;
}
.support-max-width1 {
  align-items: stretch;
}
.support-hero-image {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.support-content {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.support-text08 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text09 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text10 {
  font-family: Urbanist;
}
.support-text11 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.support-text12 {
  font-family: Urbanist;
}
.support-text13 {
  font-family: Urbanist;
}
.support-text14 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.support-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.support-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.support-max-width2 {
  align-items: stretch;
}
.support-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.support-text15 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text16 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text17 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.support-text19 {
  font-family: Urbanist;
}
.support-text20 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.support-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.support-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.support-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.support-max-width3 {
  align-items: stretch;
}
.support-image3 {
  width: 50%;
}
.support-hero-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.support-content2 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.support-text21 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text22 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.support-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.support-text23 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.support-container03 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-title {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text24 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.support-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.support-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.support-text25 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.support-container04 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text26 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.support-step2 {
  display: flex;
  flex-direction: row;
}
.support-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.support-text27 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.support-container05 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text28 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.support-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.support-text29 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text30 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.support-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.support-section4 {
  padding-top: 0px;
}
.support-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.support-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.support-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-text33 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text34 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text35 {
  font-family: Urbanist;
}
.support-text37 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.support-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text38 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon02 {
  width: 12px;
  height: 12px;
}
.support-text39 {
  margin-top: 8px;
}
.support-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text40 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon04 {
  width: 12px;
  height: 12px;
}
.support-text41 {
  margin-top: 8px;
}
.support-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text42 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon06 {
  width: 12px;
  height: 12px;
}
.support-text43 {
  margin-top: 8px;
}
.support-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text44 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon08 {
  width: 12px;
  height: 12px;
}
.support-text45 {
  margin-top: 8px;
}
.support-image4 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.support-banner1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.support-text46 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text47 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text53 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.support-button3 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.support-button4 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.support-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.support-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.support-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.support-text57 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text63 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text67 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text69 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text70 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text71 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text72 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text73 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text74 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text76 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text77 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text79 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text82 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text85 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text86 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text87 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text88 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text90 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text91 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text92 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text93 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text94 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text95 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .support-text04 {
    text-align: center;
  }
  .support-max-width1 {
    flex-direction: column;
  }
  .support-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .support-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .support-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .support-max-width2 {
    flex-direction: column;
  }
  .support-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .support-image2 {
    padding-bottom: 0px;
  }
  .support-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .support-max-width3 {
    flex-direction: column;
  }
  .support-image3 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .support-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .support-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .support-max-width4 {
    flex-direction: column;
  }
  .support-max-width5 {
    flex-direction: column;
  }
  .support-questions {
    width: 60%;
  }
  .support-image4 {
    margin-right: -100px;
  }
  .support-footer {
    flex-direction: column;
  }
  .support-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .support-container06 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .support-links {
    display: none;
  }
  .support-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .support-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .support-content {
    width: 100%;
    margin-right: 0px;
  }
  .support-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .support-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .support-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .support-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .support-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .support-image4 {
    width: 100%;
    margin-right: 0px;
  }
  .support-banner1 {
    padding: var(--dl-space-space-twounits);
  }
  .support-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .support-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .support-container06 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .support-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .support-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .support-footer {
    padding: var(--dl-space-space-unit);
  }
  .support-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .support-container06 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
