.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/rectangle%2035-1500w.png");
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}


.card-root-class-name4 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name5 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name7 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name8 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.support-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.support-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.support-navlink {
  display: contents;
}
.support-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.support-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.support-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.support-text001 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.support-text002 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.support-link {
  text-decoration: none;
}
.support-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.support-hero {
  height: 99px;
  align-items: center;
  padding-bottom: 0px;
  justify-content: center;
}
.support-text003 {
  color: rgb(255, 255, 255);
}
.support-section {
  padding-top: 3px;
}
.support-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.support-container01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: center;
}
.support-container02 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.support-text005 {
  color: #595959;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-container03 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.support-container04 {
  flex: 1;
  height: 190px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-scheme-white);
}
.support-container04:hover {
  transform: scale(1.02);
}
.support-text009 {
  font-size: 1.5rem;
  font-weight: 600;
}
.support-link1 {
  color: var(--dl-color-scheme-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.support-container05 {
  flex: 1;
  color: var(--dl-color-scheme-white);
  height: 196px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #000000;
}
.support-container05:hover {
  transform: scale(1.02);
}
.support-text010 {
  font-size: 1.5rem;
  font-weight: 600;
}
.support-text011 {
  margin: var(--dl-space-space-twounits);
  font-size: 4rem;
  font-weight: 200;
}
.support-button {
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.support-max-width1 {
  align-items: stretch;
}
.support-hero-image {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.support-content {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.support-text012 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text013 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text014 {
  font-family: Urbanist;
}
.support-text015 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.support-text016 {
  font-family: Urbanist;
}
.support-text017 {
  font-family: Urbanist;
}
.support-text018 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.support-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.support-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.support-max-width2 {
  align-items: stretch;
}
.support-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.support-text019 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text020 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text021 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.support-text023 {
  font-family: Urbanist;
}
.support-text024 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.support-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.support-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.support-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.support-max-width3 {
  align-items: stretch;
}
.support-image3 {
  width: 50%;
}
.support-hero-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.support-content2 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.support-text025 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text026 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.support-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.support-text027 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.support-container08 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-title {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text028 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.support-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.support-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.support-text029 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.support-container09 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text030 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.support-step2 {
  display: flex;
  flex-direction: row;
}
.support-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.support-text031 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.support-container10 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text032 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.support-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.support-text033 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text034 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.support-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.support-section4 {
  padding-top: 0px;
}
.support-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.support-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.support-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.support-text037 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.support-text038 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-text039 {
  font-family: Urbanist;
}
.support-text041 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.support-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text042 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon02 {
  width: 12px;
  height: 12px;
}
.support-text043 {
  margin-top: 8px;
}
.support-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text044 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon04 {
  width: 12px;
  height: 12px;
}
.support-text045 {
  margin-top: 8px;
}
.support-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text046 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon06 {
  width: 12px;
  height: 12px;
}
.support-text047 {
  margin-top: 8px;
}
.support-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.support-text048 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.support-icon08 {
  width: 12px;
  height: 12px;
}
.support-text049 {
  margin-top: 8px;
}
.support-image4 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.support-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.support-text050 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text051 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.support-text057 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.support-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.support-button3 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.support-button4 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.support-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.support-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.support-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.support-text061 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text062 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text063 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text064 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text065 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text067 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text068 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text069 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text070 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text071 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text073 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text074 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text075 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text076 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text077 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text078 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text080 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text081 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text082 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text083 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text086 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text089 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text090 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text091 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text092 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text094 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.support-text095 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text096 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text097 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text098 {
  margin-bottom: var(--dl-space-space-unit);
}
.support-text099 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .support-container01 {
    align-items: center;
    flex-direction: column;
  }
  .support-container02 {
    align-items: center;
  }
  .support-text005 {
    text-align: center;
  }
  .support-container03 {
    width: 100%;
  }
  .support-max-width1 {
    flex-direction: column;
  }
  .support-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .support-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .support-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .support-max-width2 {
    flex-direction: column;
  }
  .support-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .support-image2 {
    padding-bottom: 0px;
  }
  .support-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .support-max-width3 {
    flex-direction: column;
  }
  .support-image3 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .support-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .support-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .support-max-width4 {
    flex-direction: column;
  }
  .support-max-width5 {
    flex-direction: column;
  }
  .support-questions {
    width: 60%;
  }
  .support-image4 {
    margin-right: -100px;
  }
  .support-footer {
    flex-direction: column;
  }
  .support-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .support-container11 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .support-links {
    display: none;
  }
  .support-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .support-container01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .support-container03 {
    flex-direction: column;
  }
  .support-container04 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .support-container05 {
    width: 100%;
  }
  .support-content {
    width: 100%;
    margin-right: 0px;
  }
  .support-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .support-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .support-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .support-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .support-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .support-image4 {
    width: 100%;
    margin-right: 0px;
  }
  .support-banner {
    padding: var(--dl-space-space-twounits);
  }
  .support-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .support-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .support-container11 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .support-container01 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .support-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .support-footer {
    padding: var(--dl-space-space-unit);
  }
  .support-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .support-container11 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
