.team-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-navlink {
  display: contents;
}
.team-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.team-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.team-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-link {
  text-decoration: none;
}
.team-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.team-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-green100);
}
.team-text01 {
  color: var(--dl-color-scheme-white);
}
.team-hero {
  height: 763px;
  background-color: var(--dl-color-scheme-white);
}
.team-max-width1 {
  width: 1179px;
  height: 582px;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-scheme-white);
}
.team-image1 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.team-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.team-image2 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.team-text02 {
  top: 401px;
  left: 305px;
  position: absolute;
  text-align: center;
}
.team-text06 {
  top: 428px;
  left: 742px;
  position: absolute;
  text-align: center;
}
.team-image3 {
  top: 67px;
  left: 317px;
  width: 300px;
  height: 300px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.team-image4 {
  top: 64px;
  right: 129px;
  width: 300px;
  height: 300px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.team-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.team-text07 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text13 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text26 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text35 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text40 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text41 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text42 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text43 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text44 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text45 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .team-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .team-footer {
    flex-direction: column;
  }
  .team-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .team-container2 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .team-links {
    display: none;
  }
  .team-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .team-max-width1 {
    flex-direction: column-reverse;
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-container2 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
  .team-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-container2 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
