.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/rectangle%2035-1500w.png");
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}


.card-root-class-name4 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name5 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name7 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name8 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name10 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name11 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name9 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name11 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.team-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-navlink {
  display: contents;
}
.team-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.team-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.team-text001 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.team-text002 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.team-link {
  text-decoration: none;
}
.team-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.team-hero {
  height: 99px;
  align-items: center;
  padding-bottom: 0px;
  justify-content: center;
}
.team-text003 {
  color: rgb(255, 255, 255);
}
.team-section {
  padding-top: 3px;
}
.team-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.team-container01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: center;
}
.team-container02 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team-text005 {
  color: #595959;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-container03 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.team-container04 {
  flex: 1;
  height: 394px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-scheme-white);
}
.team-container04:hover {
  transform: scale(1.02);
}
.team-image1 {
  width: 247px;
  height: 269px;
  object-fit: cover;
}
.team-text009 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
.team-max-width1 {
  align-items: stretch;
}
.team-hero-image {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.team-content {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.team-text014 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.team-text015 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-text016 {
  font-family: Urbanist;
}
.team-text017 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.team-text018 {
  font-family: Urbanist;
}
.team-text019 {
  font-family: Urbanist;
}
.team-text020 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.team-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.team-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.team-max-width2 {
  align-items: stretch;
}
.team-content1 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.team-text021 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.team-text022 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-text023 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.team-text025 {
  font-family: Urbanist;
}
.team-text026 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.team-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.team-hero-image1 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.team-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.team-max-width3 {
  align-items: stretch;
}
.team-image4 {
  width: 50%;
}
.team-hero-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.team-content2 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.team-text027 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.team-text028 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.team-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.team-text029 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.team-container07 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-title {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text030 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.team-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.team-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.team-text031 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.team-container08 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text032 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.team-step2 {
  display: flex;
  flex-direction: row;
}
.team-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.team-text033 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.team-container09 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text034 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.team-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-text035 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text036 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.team-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.team-section4 {
  padding-top: 0px;
}
.team-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.team-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-text039 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.team-text040 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-text041 {
  font-family: Urbanist;
}
.team-text043 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.team-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-text044 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.team-icon02 {
  width: 12px;
  height: 12px;
}
.team-text045 {
  margin-top: 8px;
}
.team-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-text046 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.team-icon04 {
  width: 12px;
  height: 12px;
}
.team-text047 {
  margin-top: 8px;
}
.team-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-text048 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.team-icon06 {
  width: 12px;
  height: 12px;
}
.team-text049 {
  margin-top: 8px;
}
.team-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-text050 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.team-icon08 {
  width: 12px;
  height: 12px;
}
.team-text051 {
  margin-top: 8px;
}
.team-image5 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.team-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.team-text052 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text053 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text059 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.team-button2 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.team-button3 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.team-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.team-text063 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text064 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text065 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text066 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text067 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text069 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text070 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text071 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text072 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text073 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text075 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text076 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text077 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text078 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text079 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text080 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text082 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text083 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text084 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text085 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text088 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text091 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text092 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text093 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text094 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text096 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-text097 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text098 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text099 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text100 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-text101 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .team-container01 {
    align-items: center;
    flex-direction: column;
  }
  .team-container02 {
    align-items: center;
  }
  .team-text005 {
    text-align: center;
  }
  .team-container03 {
    width: 100%;
  }
  .team-max-width1 {
    flex-direction: column;
  }
  .team-image2 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .team-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .team-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .team-max-width2 {
    flex-direction: column;
  }
  .team-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .team-image3 {
    padding-bottom: 0px;
  }
  .team-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .team-max-width3 {
    flex-direction: column;
  }
  .team-image4 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .team-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .team-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .team-max-width4 {
    flex-direction: column;
  }
  .team-max-width5 {
    flex-direction: column;
  }
  .team-questions {
    width: 60%;
  }
  .team-image5 {
    margin-right: -100px;
  }
  .team-footer {
    flex-direction: column;
  }
  .team-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .team-container10 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .team-links {
    display: none;
  }
  .team-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .team-container01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-container03 {
    flex-direction: column;
  }
  .team-container04 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .team-content {
    width: 100%;
    margin-right: 0px;
  }
  .team-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .team-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .team-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .team-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-image5 {
    width: 100%;
    margin-right: 0px;
  }
  .team-banner {
    padding: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-container10 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .team-container01 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .team-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
  .team-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-container10 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
