.team-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-navbar {
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.team-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-navlink {
  display: contents;
}
.team-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.team-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-text01 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-text02 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.team-button {
  font-family: Titillium Web;
  font-weight: 700;
}
.team-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.team-container1 {
  width: 100%;
  height: 618px;
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-scheme-white);
}
.team-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-text04 {
  color: var(--dl-color-scheme-green100);
  font-size: 2.5em;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Titillium Web;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1.5px;
}
.team-container3 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-container4 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-container5 {
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.team-image1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.team-text07 {
  font-size: 1.5em;
  margin-top: var(--dl-space-space-twounits);
}
.team-container6 {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.team-image2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-round);
}
.team-text12 {
  margin-top: var(--dl-space-space-twounits);
}
.team-section {
  height: 342px;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #DEE3E7;
}
.team-text16 {
  top: 61px;
  left: 0px;
  color: black;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
}
.team-image3 {
  top: 146px;
  left: 0px;
  right: 0px;
  width: 546px;
  height: 157px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-container7 {
  width: 100%;
  height: 406px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.team-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-500h.png");
}
.team-text17 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text18 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text24 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.team-button1 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.team-button2 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.team-max-width1 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-text28 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.team-text29 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.team-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.team-text30 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .team-max-width1 {
    flex-direction: column;
  }
  .team-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .team-links {
    display: none;
  }
  .team-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .team-banner {
    padding: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .team-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
}
