.technology-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.technology-navbar {
  height: 87.8px;
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.technology-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.technology-navlink {
  display: contents;
}
.technology-image {
  width: 112px;
  height: 48px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.technology-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.technology-text {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.technology-text1 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
}
.technology-navlink1 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.technology-text2 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
}
.technology-button {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  background-color: var(--dl-color-scheme-shopifybg);
}
.technology-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.technology-section {
  height: 415px;
  padding-top: 20px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-grey);
}
.technology-max-width1 {
  height: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-text3 {
  height: 144px;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: var(--dl-space-space-threeunits);
}
.technology-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.technology-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-image1 {
  width: 314px;
  height: 127px;
  object-fit: cover;
}
.technology-link {
  padding-top: var(--dl-space-space-twounits);
  text-decoration: underline;
}
.technology-section1 {
  height: 318px;
  padding-top: 52px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-white);
}
.technology-max-width2 {
  height: 144px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-text4 {
  height: 144px;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: var(--dl-space-space-threeunits);
}
.technology-link1 {
  text-decoration: underline;
}
.technology-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.technology-container4 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-image2 {
  width: 250px;
  height: 50px;
  object-fit: cover;
}
.technology-section2 {
  height: 460px;
  padding-top: 52px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-grey);
}
.technology-max-width3 {
  height: 144px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-text7 {
  height: 144px;
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: var(--dl-space-space-threeunits);
}
.technology-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.technology-image3 {
  width: 390px;
  height: 235px;
  align-self: center;
  object-fit: cover;
}
.technology-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.technology-text8 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .technology-max-width1 {
    flex-direction: column;
  }
  .technology-max-width2 {
    flex-direction: column;
  }
  .technology-max-width3 {
    flex-direction: column;
  }
  .technology-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .technology-links {
    display: none;
  }
  .technology-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .technology-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .technology-footer {
    padding: var(--dl-space-space-unit);
  }
}
