.technology-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.technology-navbar {
  height: 87.8px;
  box-shadow: 1px 1px 2px 0px #e0e2e9;
}
.technology-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.technology-navlink {
  display: contents;
}
.technology-image {
  width: 112px;
  height: 48px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.technology-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.technology-text {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.technology-text01 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
}
.technology-navlink1 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.technology-text02 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
}
.technology-button {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  background-color: var(--dl-color-scheme-shopifybg);
}
.technology-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.technology-section {
  height: 580px;
  padding-top: 52px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-separator);
}
.technology-max-width1 {
  height: 249px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-text03 {
  height: 144px;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.technology-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.technology-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.technology-image1 {
  width: 413px;
  height: 170px;
  object-fit: cover;
}
.technology-container3 {
  width: 100%;
  height: 589px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.technology-banner {
  flex: 0 0 auto;
  width: 1079px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-600h.png");
}
.technology-text04 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.technology-text05 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.technology-text06 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.technology-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.technology-link {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.technology-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.technology-text13 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .technology-max-width1 {
    flex-direction: column;
  }
  .technology-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .technology-links {
    display: none;
  }
  .technology-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .technology-banner {
    padding: var(--dl-space-space-twounits);
  }
  .technology-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .technology-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .technology-footer {
    padding: var(--dl-space-space-unit);
  }
}
