.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: Radius-Round;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/rectangle%2035-1500w.png");
}
.card-info {
  width: 362px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-scheme-white);
}
.card-text {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card-text1 {
  line-height: 1.5;
}
.card-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name1 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}


.card-root-class-name4 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name5 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name7 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name8 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name10 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name11 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}

.card-root-class-name13 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
}
.card-root-class-name14 {
  background-size: cover;
  background-image: url("public/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
}
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name6 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name9 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name11 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name12 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name13 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .card-root-class-name14 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.themes-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.themes-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.themes-navlink {
  display: contents;
}
.themes-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.themes-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.themes-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.themes-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-link {
  text-decoration: none;
}
.themes-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.themes-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-green100);
}
.themes-text01 {
  color: var(--dl-color-scheme-white);
}
.themes-hero {
  height: 614px;
  background-color: var(--dl-color-scheme-white);
}
.themes-max-width1 {
  height: 462px;
  align-items: center;
  background-color: var(--dl-color-scheme-white);
}
.themes-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.themes-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-title {
  color: var(--dl-color-scheme-green100);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-description {
  color: var(--dl-color-scheme-green80);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-button {
  color: var(--dl-color-scheme-white);
  font-size: 22px;
  align-self: center;
  font-weight: bold;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-scheme-green100);
}
.themes-image1 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.themes-hero-image {
  top: -143px;
  flex: 1;
  left: -516px;
  height: 571px;
  position: absolute;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.themes-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.themes-image2 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.themes-max-width2 {
  align-items: stretch;
}
.themes-hero-image1 {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.themes-content1 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text02 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text03 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text05 {
  color: var(--dl-color-scheme-orange100);
}
.themes-text06 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.themes-max-width3 {
  align-items: stretch;
}
.themes-content2 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text07 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text08 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text09 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.themes-text11 {
  font-family: Urbanist;
}
.themes-text12 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-hero-image2 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.themes-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.themes-max-width4 {
  align-items: stretch;
}
.themes-image5 {
  width: 50%;
}
.themes-hero-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.themes-content3 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text13 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text14 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.themes-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.themes-text15 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.themes-container05 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text16 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.themes-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.themes-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.themes-text17 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.themes-container06 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text18 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.themes-step2 {
  display: flex;
  flex-direction: row;
}
.themes-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.themes-text19 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.themes-container07 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text20 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.themes-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.themes-text21 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text22 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.themes-section4 {
  padding-top: 0px;
}
.themes-max-width6 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.themes-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.themes-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-text25 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text26 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text27 {
  font-family: Urbanist;
}
.themes-text29 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.themes-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text30 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon02 {
  width: 12px;
  height: 12px;
}
.themes-text31 {
  margin-top: 8px;
}
.themes-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text32 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon04 {
  width: 12px;
  height: 12px;
}
.themes-text33 {
  margin-top: 8px;
}
.themes-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text34 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon06 {
  width: 12px;
  height: 12px;
}
.themes-text35 {
  margin-top: 8px;
}
.themes-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text36 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon08 {
  width: 12px;
  height: 12px;
}
.themes-text37 {
  margin-top: 8px;
}
.themes-image6 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.themes-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.themes-text38 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text39 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text45 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-button4 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.themes-button5 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.themes-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.themes-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.themes-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.themes-text49 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text55 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text56 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text61 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text62 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text63 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text68 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text69 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text70 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text71 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text74 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text77 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text79 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text80 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text82 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text83 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text84 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text85 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text86 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text87 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .themes-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .themes-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image {
    margin-bottom: 0px;
  }
  .themes-max-width2 {
    flex-direction: column;
  }
  .themes-image3 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .themes-max-width3 {
    flex-direction: column;
  }
  .themes-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .themes-image4 {
    padding-bottom: 0px;
  }
  .themes-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-max-width4 {
    flex-direction: column;
  }
  .themes-image5 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image3 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .themes-max-width5 {
    flex-direction: column;
  }
  .themes-max-width6 {
    flex-direction: column;
  }
  .themes-questions {
    width: 60%;
  }
  .themes-image6 {
    margin-right: -100px;
  }
  .themes-footer {
    flex-direction: column;
  }
  .themes-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .themes-container08 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .themes-links {
    display: none;
  }
  .themes-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .themes-max-width1 {
    flex-direction: column-reverse;
  }
  .themes-content {
    width: 100%;
    margin-right: 0px;
  }
  .themes-hero-image {
    margin-right: 0px;
  }
  .themes-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-cards-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .themes-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .themes-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .themes-image6 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-banner {
    padding: var(--dl-space-space-twounits);
  }
  .themes-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .themes-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .themes-container08 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .themes-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .themes-footer {
    padding: var(--dl-space-space-unit);
  }
  .themes-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .themes-container08 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
