.themes-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.themes-navbar {
  height: 87.8px;
}
.themes-logo {
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.themes-navlink {
  display: contents;
}
.themes-image {
  width: 112px;
  height: 48px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.themes-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.themes-text {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
}
.themes-text:active {
  border-bottom: 1px solid black;
}
.themes-navlink1 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-navlink2 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-navlink3 {
  color: var(--dl-color-scheme-green80);
  font-weight: bold;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-link {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-family: Titillium Web;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-shopifybg);
}
.themes-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.themes-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #018262;
}
.themes-text01 {
  color: var(--dl-color-scheme-white);
}
.themes-hero {
  height: 681px;
  position: relative;
  padding-bottom: 5px;
  background-color: #E0E2E9;
}
.themes-max-width1 {
  width: 913px;
  height: 398px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-left: 0px;
  background-color: #E0E2E9;
}
.themes-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.themes-container3 {
  width: 835px;
  height: 356px;
  display: flex;
  align-items: space-between;
  margin-left: 200px;
  flex-direction: column;
  background-color: #E0E2E9;
}
.themes-content {
  width: 501px;
  height: 262px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 4px;
  flex-direction: column;
  padding-bottom: 70px;
}
.themes-subtitle {
  color: var(--dl-color-scheme-shopifybg);
  font-size: 14px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 800;
  line-height: 1.15;
  margin-left: 5px;
  margin-bottom: 2px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
}
.themes-title {
  color: var(--dl-color-scheme-black);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}
.themes-description {
  color: var(--dl-color-scheme-green80);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-container4 {
  flex: 0 0 auto;
  width: 196px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.themes-container5 {
  flex: 0 0 auto;
  width: 533px;
  height: 65px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.themes-link1 {
  width: 135px;
  align-self: flex-start;
  padding-right: 0px;
  text-decoration: none;
}
.themes-link2 {
  width: 139px;
  align-self: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  padding-right: 0px;
  text-decoration: none;
}
.themes-image1 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.themes-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.themes-container6 {
  flex: 0 0 auto;
  width: 742px;
  height: 103px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  justify-content: center;
}
.themes-link3 {
  display: contents;
}
.themes-image2 {
  top: -2px;
  left: 173px;
  width: 292px;
  height: 98px;
  position: absolute;
  object-fit: cover;
  padding-left: -30px;
  text-decoration: none;
}
.themes-hero-image {
  top: 27px;
  flex: 1;
  right: 150px;
  width: 488px;
  height: 634px;
  position: absolute;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.themes-section {
  height: 308px;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 28px;
  background-color: var(--dl-color-scheme-white);
}
.themes-max-width2 {
  width: 878px;
  align-self: center;
  align-items: stretch;
}
.themes-hero-image1 {
  width: 329px;
  height: 271px;
  object-fit: contain;
  margin-left: -150px;
  border-radius: 48px;
}
.themes-content1 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text03 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text04 {
  width: 646px;
  font-size: 42px;
  align-self: flex-start;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text06 {
  color: var(--dl-color-scheme-orange100);
}
.themes-section1 {
  height: 335px;
  padding-top: 21px;
  padding-bottom: 20px;
  background-color: var(--dl-color-scheme-grey);
}
.themes-max-width3 {
  align-items: stretch;
}
.themes-content2 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text07 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text08 {
  width: 542px;
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-hero-image2 {
  width: 432px;
  height: 281px;
  object-fit: contain;
  margin-right: -50px;
  border-radius: 48px;
}
.themes-section2 {
  padding-top: 21px;
  padding-bottom: 40px;
  background-color: var(--dl-color-scheme-white);
}
.themes-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.themes-text09 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text10 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-section3 {
  padding-top: 0px;
  padding-bottom: 72px;
}
.themes-max-width5 {
  width: 1286px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.themes-banner {
  flex: 0 0 auto;
  width: 1269px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1300w.png");
}
.themes-text11 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text12 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-link4 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
.themes-footer {
  width: auto;
  height: 60px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #018262;
}
.themes-text18 {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .themes-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .themes-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image {
    margin-bottom: 0px;
  }
  .themes-max-width2 {
    flex-direction: column;
  }
  .themes-image3 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .themes-max-width3 {
    flex-direction: column;
  }
  .themes-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .themes-image4 {
    padding-bottom: 0px;
  }
  .themes-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-max-width4 {
    flex-direction: column;
  }
  .themes-max-width5 {
    flex-direction: column;
  }
  .themes-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .themes-links {
    display: none;
  }
  .themes-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .themes-max-width1 {
    flex-direction: column-reverse;
  }
  .themes-content {
    width: 100%;
    margin-right: 0px;
  }
  .themes-hero-image {
    margin-right: 0px;
  }
  .themes-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-banner {
    padding: var(--dl-space-space-twounits);
  }
  .themes-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .themes-hero-image {
    display: none;
  }
  .themes-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .themes-footer {
    padding: var(--dl-space-space-unit);
  }
}
