.themes-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.themes-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.themes-navlink {
  display: contents;
}
.themes-image {
  width: 180px;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.themes-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.themes-text {
  color: var(--dl-color-scheme-green80);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.themes-text:active {
  border-bottom: 1px solid black;
}
.themes-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.themes-link {
  text-decoration: none;
}
.themes-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.themes-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #018262;
}
.themes-text01 {
  color: var(--dl-color-scheme-white);
}
.themes-hero {
  height: 681px;
  position: relative;
  padding-bottom: 5px;
  background-color: #E0E2E9;
}
.themes-max-width1 {
  width: 1194px;
  height: 435px;
  align-self: flex-start;
  align-items: center;
  padding-left: 0px;
  background-color: #E0E2E9;
}
.themes-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.themes-container03 {
  width: 835px;
  height: 247px;
  display: flex;
  align-items: space-between;
  margin-left: 200px;
  flex-direction: column;
  background-color: #E0E2E9;
}
.themes-content {
  width: 501px;
  height: 401px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 4px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-eightunits);
}
.themes-subtitle {
  color: Black;
  margin-left: 5px;
  margin-bottom: 2px;
}
.themes-title {
  color: var(--dl-color-scheme-shopifybg);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-description {
  color: var(--dl-color-scheme-green80);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-image1 {
  left: -31px;
  width: 288px;
  bottom: 4px;
  height: 168px;
  position: absolute;
  object-fit: cover;
}
.themes-image2 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.themes-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.themes-hero-image {
  top: 27px;
  flex: 1;
  right: 150px;
  width: 488px;
  height: 634px;
  position: absolute;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.themes-max-width2 {
  align-items: stretch;
}
.themes-hero-image1 {
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.themes-content1 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text02 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text03 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text05 {
  color: var(--dl-color-scheme-orange100);
}
.themes-text06 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.themes-max-width3 {
  align-items: stretch;
}
.themes-content2 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text07 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text08 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text09 {
  color: var(--dl-color-scheme-orange200);
  font-family: Urbanist;
}
.themes-text11 {
  font-family: Urbanist;
}
.themes-text12 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-hero-image2 {
  object-fit: contain;
  margin-right: -250px;
  border-radius: 48px;
}
.themes-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.themes-max-width4 {
  align-items: stretch;
}
.themes-image5 {
  width: 50%;
}
.themes-hero-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.themes-content3 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.themes-text13 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text14 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.themes-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange200);
}
.themes-text15 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.themes-container06 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text16 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.themes-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.themes-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange200);
}
.themes-text17 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.themes-container07 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text18 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.themes-step2 {
  display: flex;
  flex-direction: row;
}
.themes-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange200);
}
.themes-text19 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.themes-container08 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text20 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.themes-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.themes-text21 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text22 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.themes-section4 {
  padding-top: 0px;
}
.themes-max-width6 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.themes-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.themes-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.themes-text25 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text26 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-text27 {
  font-family: Urbanist;
}
.themes-text29 {
  color: var(--dl-color-scheme-orange200);
  font-family: Urbanist;
}
.themes-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text30 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon02 {
  width: 12px;
  height: 12px;
}
.themes-text31 {
  margin-top: 8px;
}
.themes-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text32 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon04 {
  width: 12px;
  height: 12px;
}
.themes-text33 {
  margin-top: 8px;
}
.themes-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text34 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon06 {
  width: 12px;
  height: 12px;
}
.themes-text35 {
  margin-top: 8px;
}
.themes-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.themes-text36 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.themes-icon08 {
  width: 12px;
  height: 12px;
}
.themes-text37 {
  margin-top: 8px;
}
.themes-image6 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.themes-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%2011-1200w.png");
}
.themes-text38 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text39 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.themes-text45 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.themes-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.themes-button2 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.themes-button3 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.themes-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.themes-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.themes-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.themes-text49 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text55 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text56 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text61 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text62 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text63 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text68 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text69 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text70 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text71 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text74 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text77 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text79 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text80 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text82 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.themes-text83 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text84 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text85 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text86 {
  margin-bottom: var(--dl-space-space-unit);
}
.themes-text87 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .themes-text {
    color: var(--dl-color-scheme-black);
    border-color: var(--dl-color-scheme-green100);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
  }
  .themes-navlink1 {
    color: Black;
  }
  .themes-navlink2 {
    color: Black;
  }
}
@media(max-width: 991px) {
  .themes-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .themes-image2 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image {
    margin-bottom: 0px;
  }
  .themes-max-width2 {
    flex-direction: column;
  }
  .themes-image3 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .themes-max-width3 {
    flex-direction: column;
  }
  .themes-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .themes-image4 {
    padding-bottom: 0px;
  }
  .themes-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-max-width4 {
    flex-direction: column;
  }
  .themes-image5 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .themes-hero-image3 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .themes-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .themes-max-width5 {
    flex-direction: column;
  }
  .themes-max-width6 {
    flex-direction: column;
  }
  .themes-questions {
    width: 60%;
  }
  .themes-image6 {
    margin-right: -100px;
  }
  .themes-footer {
    flex-direction: column;
  }
  .themes-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .themes-container09 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .themes-links {
    display: none;
  }
  .themes-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .themes-max-width1 {
    flex-direction: column-reverse;
  }
  .themes-content {
    width: 100%;
    margin-right: 0px;
  }
  .themes-hero-image {
    margin-right: 0px;
  }
  .themes-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-f-a-q {
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .themes-questions {
    width: 100%;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .themes-image6 {
    width: 100%;
    margin-right: 0px;
  }
  .themes-banner {
    padding: var(--dl-space-space-twounits);
  }
  .themes-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .themes-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .themes-container09 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .themes-hero-image {
    display: none;
  }
  .themes-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .themes-footer {
    padding: var(--dl-space-space-unit);
  }
  .themes-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .themes-container09 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
